{% extends "base.html" %}

{% block section %}

<header class="header">
    <div class="header-overlay"></div>
    <div class="header-content">
        <h1 class="logo">Loyal<span>Fi</span></h1>
        <p class="tagline">Unleash the power of web3 loyalty</p>
        
        </p>       
    </div>     
</header>

<main class="container">
    <section id="description">
        <h1><p><span class="logo">Loyal<span>Fi</span></span> Revolutionizing User Engagement in DeFi</h1>
        </p>
        <p class="text">
            Welcome to Web3 Loyalty, a groundbreaking decentralized application that rewards your most dedicated protocol users for their unwavering support. 
            Harness the power of blockchain technology and NFTs to incentivize long-term commitment and foster a thriving ecosystem.
        </p>
        <p class="text">
            Web3 Loyalty seamlessly identifies and ranks users based on their transaction volume and length of time interacting with your smart contracts. 
            By offering an innovative rewards system, our platform instantly establishes loyalty rankings, 
            granting users exclusive access to unique NFTs and additional benefits.
            Unlock the potential of web3 and transform your DeFi protocol into a loyalty powerhouse. 
            Join the Web3 Loyalty revolution and reshape the future of decentralized finance today!
        </p>
    </section>
    <section>
        <h1>Do you want to give it a try?</h1>
        <a href="/beta"><button class="button"> Join the incentives of the future</button></a>
    </section>
</main>

{% endblock %}